:root{
    --primary-color:#faf5f0;
}

*{

    margin: 0;
    padding: 0;
}
@font-face {
    
    font-family: 'maison';
    src: url('./MaisondeartisanfreeRegular-qZl52.otf') format('truetype');
}

body {
    font-family: 'maison';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
}
.gradient{
    background: linear-gradient(to right top, #86a8e7, #86a8e7, #86a8e7, #86a8e7, #86a8e7, #7db0ee, #73b7f3, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;


}
.container{
    perspective: 1000px;
}


.main{
    width: 782px;
    height: 391px;
    display: flex;
    background-color:var(--primary-color);
    transform-style: preserve-3d;
    transition: transform 0.999s;
    position: relative;
}
.rotate-animation {

    transform: rotateY(-180deg);
    transition: transform 0.999s;
}
.blok1,
.blok2{
    
    backface-visibility: hidden;
}


.blok1{
    outline: 20px solid #f6f3e4;

    position: absolute;
    display: flex;
    height: 100%;
    transform: rotateY(0deg);

}

.blok2{
    font-family: 'Yellowtail', cursive !important;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    transform: rotateY(180deg);
    outline: 20px solid #edac41;

}


/* ===first container === */


.first-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.img-camello{
    width: 200px;
    transform: scaleX(-1);

}
.text-from{
    display: flex;
}
.text-from span{
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 2px;
    height: 100%; 
    background-color: #edac41;
    margin: 0 10px; 
  }
.second-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.g-stamp-location{
    display: flex;
    justify-content: flex-end;
}
.stamp{
    right: 0;
    top: 0;
}
.img-stamp{
    height: 100px;
}

.text-to{
    display:  flex;
    padding: 0 10px;

}
.text-to span{
    margin-top:5px;
    padding-right: 10px;
}

.container-input{
    font-size: 20px;
    margin: 25px;
}
.g-input{
    font-family: 'Yellowtail', cursive !important;
    width: 100%;
    height: 100%;
    resize: none;
    line-height: 30px;
    font-size: 1.5rem;
    outline: none; 
    border: none;
    background-color: transparent;
    background-attachment: local;
    background-image:
        repeating-linear-gradient(var(--primary-color), var(--primary-color) 28px, #edac41 28px, #edac41 30px, var(--primary-color) 30px);
    overflow: hidden;
}


.container-flip{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.btn{
    font-size: 18px;
    font-weight: 900;
    margin-top: 20px;
    padding: 0.6em 1.3em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff6f00;
    box-shadow: 0.1em 0.1em;

}
.btn:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
.btn:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}